<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
        <app>
          <smtp>
            <SMTP_HOST>smtp.qq.com</SMTP_HOST>
            <SMTP_PORT>465</SMTP_PORT>
            <SMTP_SSL>1</SMTP_SSL>
            <SMTP_USER>xxxxxx</SMTP_USER>
            <SMTP_PWD>xxxxx</SMTP_PWD>
          </smtp>
          <email>
            <RECIPIENTS>jiechencn@qq.com</RECIPIENTS>
            <RECIPIENTS>471760204@qq.com</RECIPIENTS>
          </email>
          <timer interval="0.1"></timer>
          <header>
            <User-Agent>Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:67.0) Gecko/20100101 Firefox/67.0</User-Agent>
            <Accept>text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8</Accept>
            <Accept-Language>en-US,en;q=0.8,zh-CN;q=0.5,zh;q=0.3</Accept-Language>
            <Connection>keep-alive</Connection>
            <Upgrade-Insecure-Requests>1</Upgrade-Insecure-Requests>
            <Cache-Control>max-age=0</Cache-Control>
          </header>
          <smspost>
            <username>xxxxxx</username>
            <userpwd>xxxxxx</userpwd>
            <requestmethod_opera>fammessagebox_1</requestmethod_opera>
            <boxtype>RECV</boxtype>
            <msgtype>0</msgtype>
            <pageno>1</pageno>
            <pagesize>999999</pagesize>
            <areaid>107</areaid>
            <token>123456</token>
          </smspost>
        </app>
    </startup>
  
</configuration>